/* Project CSS 
============================================================
============================================================*/


/* HEADER ============================== */

body {
	
	background-color: #ffffff;
	font-size: 100%;
	font-family: Corsiva, helvetica, sans-serif;
	
}

header, article {
	display: block;
	width: 75%;
}



article {
	width: 50%;
	height: 50%;
}



h2 {
	font-weight: bold;
	font-size: 150%;
}

h3 {
	font-weight: bold;
}


#about {
	
	display: inline-block;
	margin: auto;
	width: 75%;
	padding: 5%;
}

#featured {
	text-transform: uppercase;
	font-weight: bold;		
}

p {
    margin: auto;
    padding: 1%;
    
}

/* COMPONENTS ============================== */
#blog {
	background-color: #494848;
}

article {
	background-color: #cccccc;
	margin: auto;
	padding: 5%;
	
}


img {
	max-height: 100%;
	max-width: 100%;
	padding-top: 2%;
}


/* button styling */

a.button {
    margin: auto;
    padding: 5px;
    background-color: #cccccc;
    border: 1px solid #666;
    color: #000;
    text-decoration: none;
}


#component_1, #component_2, #component_3, #component_4, #component_5 {
	margin-top: 5%;
}


/* MEDIA QUERY */

@media screen and (max-width:700px;) {

header, article {
	width:100%;
}
}