<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component Image Carousel -->
<section class="image_carousel">
    <button class="next"> >> </button>
    <button class="previous"> << </button>
    <div class="container">
        <div style="display: inline-block;">
        <img src="images/need_for_speed_rivals.jpg" alt="Need for speed">
        </div>
        <div>
        <img src="images/joker_harley_quinn.jpg" alt="Joker and Harley">
        </div>
        <div>
        <img src="images/game_of_thrones_game_raven.jpg" alt="Game of Thrones Raven">
        </div>
    </div>
</section>
	<!-- End Component -->
<script type="text/javascript" src="jquery/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>