<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Kelsey Brickel</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component Parallax Effect -->

    <section id="company">
      <h1>About the Company</h1>
    </section>
<section id="popularCategories">
  <div class="container">
    <h1>Popular categories</h1>
    <article>
      <img src="images/audi.jpg" alt="Audi">
      <h2>Lorem Ipsum</h2>
      <p>Lorem ipsum dolor sit amet, no vero mundi consectetuer eam, ut sed amet convenire.</p>
      <p><a href="#">Read More</a></p>
    </article>
    <article>
      <img src="images/nissan_gt_r.jpg" alt="Nissan GTR">
      <h2>Lorem Ipsum</h2>
      <p>Lorem ipsum dolor sit amet, no vero mundi consectetuer eam, ut sed amet convenire.</p>
      <p><a href="#">Read More</a></p>
    </article>
    <article>
      <img src="images/volkswagen_golf_gti.jpg" alt="Golf GTI">
      <h2>Lorem Ipsum</h2>
      <p>Lorem ipsum dolor sit amet, no vero mundi consectetuer eam, ut sed amet convenire.</p>
      <p><a href="#">Read More</a></p>
      <!-- remove class of button and just target the anchor tags inside the articles -->
    </article>
  </div>
</section>







	<!-- End Component -->

</body>
</html>