<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Kelsey Brickel</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component Parallax Effect -->
<section class="module parallax parallax-1">
  <div class="container">
    <h1>Parallax</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Section for Paragraph</h2>
    <p>content content content.</p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1>Effect</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>
	<!-- End Component -->

</body>
</html>