/* Component Stylesheet 
============================================================
============================================================*/


html { font-size: 62.5%; }

body {
  font: 1rem Arial;
}

section {
  position: relative;
  padding: 7rem;
}

#popularCategories {
  padding: 7rem;
  background: url("images/supercar_art.jpg") no-repeat 50% 50% fixed;
  background-size: cover;
  color: #ffffff;
}

#popularCategories::after {
  content:"";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0, 0, 0, 0.2);

}
.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

#popularCategories article {
  width: calc(100% /3 - 2rem);
  float: left;
}
#popularCategories article:not(:nth-of-type(3n)) {
  margin-right: 3rem;
}


img {
  width: 100%;
}

a {
  display: inline-block;
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  background-color: #cccccc;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;

}



/* Media Queries

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 20px;
  }
  section.module p {
    font-size: 15px;
  }
  section.module.parallax h1 {
    font-size: 30px;
  }
  img {
    max-width: 150px;
    max-height: 150px;
  }
  article {
    width: 200px;
    height: 200px;
    margin: 2px;
    padding: 2px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 60px;

  }
  article {
    width: 300px;
    height: 300px;
    margin: 5px;
    padding: 5px;
  }
  img {
    max-width: 250px;
    max-height: 250px;
  }
}