<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component Drop Down Menu -->
<div class="menu_nav">
    <nav class="menu">
        <ul class="nav">
            <li><a hrf="#">About</a></li>
            <li><a href="#">Work <span class="arrow">&#9660;</span></a></li>
                <!-- nested sub list -->
                <ul class="sub">
                    <li><a href="#">Logos</a></li>
                    <li><a href="#">Banners</a></li>
                    <li><a href="#">Web Design</a></li>
                </ul>
                <!-- end nested sub list -->
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>
	<!-- End Component -->
	
</body>
</html>