/* Component Stylesheet 
============================================================
============================================================*/
header {
    background: url("images/slider_03.jpg") ;
}

h1 {
    float: left;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}



.site-description {
    font-family: 'Arizonia', 'sans-serif';
    font-size: 30px;
    line-height: 32px;
    position: relative;
    display: inline-block;
    margin-top: 7px;
}
    .site-description:before {
        content: '';
        width: 99px;
        height: 1px;
        position: absolute;
        left: -114px;
        top: 50%;
        margin-top: 4px;
    }
    .site-description:after {
        content: '';
        width: 99px;
        height: 1px;
        position: absolute;
        right: -114px;
        top: 50%;
        margin-top: 4px;
    }

    nav {
        float: left;
        margin: 0 auto;
    }

    nav ul ul {
        display: none;
    }

    nav ul li:hover > ul {
        display: block;
    }

    nav ul {
        padding: 0 20px;
        list-style: none;
        position: relative;
        display: inline-table;


    }

    nav ul:after {
        content: "";
        clear: both;
        display: block;
    }

    nav ul li {
        float: left;
        margin: 0 auto;
        text-transform: uppercase;
        padding: 2rem;
    }

    nav ul li:hover {
        float: left;
        margin: 0 auto;
        text-transform: uppercase;
        padding: 2rem;

    }




/* body {
    background: #cccccc;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    background: #ffffff;
    background: linear-gradient(top, #ffffff 0%, #cccccc 100%);
    background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 100%);
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 20px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table;
}
nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: left;
}
nav ul li:hover {
    background: #cccccc;
    background: linear-gradient(top, #cccccc 0%, #7c7c7c 40%);
    background: -moz-linear-gradient(top, #cccccc 0%, #7c7c7c 40%);
    background: -webkit-linear-gradient(top, #cccccc 0%,#7c7c7c 40%);
}
nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block;
    padding: 25px 40px;
    color: #757575;
    text-decoration: none;
}

nav ul ul {
    background: #cccccc;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
}
nav ul ul li {
    float: none;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}
nav ul ul li a {
    padding: 15px 40px;
    color: #fff;
}
nav ul ul li a:hover {
    background: #7c7c7c;
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top:0;
}