/* Component Stylesheet 
============================================================
============================================================*/

body {
    width: 100%;
}

.CTA {
    background-image: url("images/tech.jpg");
    background-position: relative;
    background-repeat: none;
}

h1 {
    font-family: Corsiva, helvetica, sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin: auto;
    padding: 5%;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #cccccc;
    
    
}

p {
    font-family: Corsiva, helvetica, sans-serif;
    font-size: 62px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: auto;
    padding: 2%;
}