<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component Responsive CTA --><section class="CTA">
   <h1>Ace Computer &amp; Phone Repair</h1>
    <p>Affordable, quality repair.</p>
    <p>1-800-REPAIR</p>
    <p>acerepair@gmail.com</p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" style="padding: 25px 0 0 0;" class="padding2" colspan="2">
                <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                    <tr>
                        <td bgcolor="#cccccc" style="padding: 12px 18px 12px 18px; -webkit-border-radius: 3px; border-radius: 3px" align="center"><a href="url" target="blank" style="font-size: 20px; font-family: Helvetica, Arial, san-serif font-weight: normal; color: #ffffff; text-decoration: none;">Learn More</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </section>
    
	<!-- End Component -->
	
</body>
</html>