/* Component Stylesheet 
============================================================
============================================================*/
body {
    width: 100%;
    
}
img.lazy {
    width: 1700px;
    height: 1000px;
    display: block;
}