<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component Lazy Load Effect -->
    <header>
    <h1>Lazy Load Effect</h1>
    </header>
    <section class="images">
        <img class="lazy" src="images/ferrari_enzo_red.jpg" alt="Ferrari"/>
        <img class="lazy" src="images/lamborghini_aventador.jpg" alt="Lamborghini"/>
        <img class="lazy" src="images/nissan_gt_r.jpg" alt="Nissan"/>
    </section>

	<!-- End Component -->
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="jquery/jquery-2.2.0.min.js"></script>
</body>
</html>